*{}

body{background-color:#303030 }

.wrapper{
  width:92%;
  margin:0 auto;
  max-width:960px;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.card{position:relative;margin:16px;overflow:hidden}
.card__title{color:#f0f0f0;margin-top:32px;text-align:center;font-size:16px;z-index:9;margin:0 auto;}
.card__title:hover{}
.card__image {
  width: 200px;
  height: 200px;

  border:2px solid #c0c0c0;
  filter: drop-shadow(0 0 2px #f0f0f0)
} 

.card__caption{color:#f0f0f0;text-align: center; font-size:12px}
.card__image img{width:200px;height:200px;object-fit: cover;transition:.3s ease-in}
.card__image img:hover{transform:scale(1.1);transition:.1s ease-out;filter:drop-shadow(0 0  10px #000)}