<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='./css/style.css' />
  <link rel="stylesheet" href='./css/lightbox.css'>
  <title>
    spage
  </title>
</head>

<body>
  <div class="wrapper">
    <% const arr = ['A', 'B', 'C'] %>
    <% console.log(parameter[1])%>  
<%  for (let index = 0; index < parameter.length; index++) { %>
    <div class="card">
      <div class="card__image">
        <a href="<%-parameter[index].url%>" data-lightbox="retouch" title="<%= parameter[index].title%>">
          <img src="<%-parameter[index].url%>" alt="">
        </a>
      </div>
      <h2 class="card__title">
        <%=parameter[index].title%>
      </h2>
      <p class="card__caption">
        <%- parameter[index].caption%>
      </p>
    </div>
    <% } %>
  </div>
  <script src='js/jquery-3.2.1.min.js'></script>
  <script src='js/lightbox.min.js'></script>

  <script>
    lightbox.option({
      'imageFadeDuration': 300
    })
  </script>
</body>
