<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='./css/style.css' />
  <link rel="stylesheet" href='./css/lightbox.css'>
  <title>
    spage
  </title>
</head>
<body>
  <div class="wrapper">
    <%=console.log(parameter)%>
    <div class="card">
      <div class="card__image">
        <a href="<%-parameter.url%>" data-lightbox="retouch" title="<%= parameter.title%>">
          <img src="<%-parameter.url%>" alt="">
        </a>
    </div>
    <h2 class="card__title">
      <%=parameter.title%>
    </h2>
    <p class="card__caption">
    <%- parameter.caption%>
    </p>
      </div>

    </div>
    <script src='js/jquery-3.2.1.min.js'></script>
    <script src='js/lightbox.min.js'></script>

    <script>
      lightbox.option({
        'imageFadeDuration': 300
      })
    </script>
</body>
